
html {
  height: 100%;  
}
body {
  background-image: url(https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 600px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;  
  padding: 10px;
  margin-top: 10px;
  
}

.head {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
}
.name {
    padding-top: 10px;
}
.table {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-color: cadetblue;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
        
}

h3 {
    background-color: black;
    height: 20px;
    color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    text-align: center;
}
h4 {
  margin: 0px;
  text-align: center;

}
.img {
    float: left;
    padding: 0px;
    text-align: center;
}

.iconphone {
  position: absolute;
  left: 640px;
  margin-bottom: 3px;
}
.iconemail {
  position: absolute;
  left: 640px;
}